* {
  box-sizing: border-box;
}

body {
  font-family:  100%/1.25 'Roboto', helvetica, sans-serif;
  font-size: 26px;
  color: white;
  text-align: center;
  line-height: 1.5;
  
}



@media screen and (min-width:480px) {
  body {
    /* style changes when the screen gets larger */
  }
}

@media screen and (min-width:800px) {
  body {
     /* And even larger */
  }
 }


nav,
footer {
  padding: 0;
  font-size: 40px;
  background-color: #365180;
  display: inline;
  text-align: left;
}

nav {
  position: centered;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

header {
  min-height: 100px;
  padding: 12%;
  color: #1B2840;
  padding: 0%;
  background-color:#6BA1FF;
}

section {
  min-height: 100px;
  padding: 10% 0;
  background-color: #365180;
}

section:nth-child(even) {
  background-color:#365180;
  text-align: center;
}

#nothing {
  font-family:  100%/1.25 'Roboto', helvetica, sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 1.5;
}
#nothing2 {
  background-color:#365180;
  text-align: left;
  margin-left:10px;
  padding: 8px;
  min-height: 0px;
}

.red {
color: red;
}
/*.about {
  text-align: center;
}*/
.profile-img-3 {
  width: 10rem;
}

.underline-white {
  text-decoration: underline white;
  padding: 8px;
}

.underline-orange {
  text-decoration: underline #f7e289;
  padding: 8px;
}

.container-skill-img {
  width: 2rem;
  margin-left: 1rem; 
  padding-bottom: 10;
}

.container-skill-img-1 {
  width: 18rem;
  padding-top: 20px;

  
}

.container-skill-img-2 {
  height: 7rem;
  width: 7rem;
  margin-left: 1rem;
}

.profile-img {
  height: 100rem;
  width: 100rem;
  padding-top: 1rem; 
}

#contact {
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2a0986;
}

#contact h2 {
  font-family: 100%/1.25 'Roboto', helvetica, sans-serif;
}

#contact p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.copyright {
  margin-top: 2rem;
}

.copyright img {
  width: 1rem;
  height: 1rem;
}

.about {
 font-family:  100%/1.25 'Roboto', helvetica, sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 1.5; 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 60px;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
  text-align: left; 
  width: 240px;
  height: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main2 {
 text-align: left; 
}

.body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 10;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-align: center;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}



.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

.portfolio-projects {
  width: 100%;
}

.projects {
 width: 20rem; 
 font-size: 26px;
}

.capstone {
  width: 20rem; 
  padding-top: 0px;
 }
 
.openNav {
width: 250px;
margin-left: 250px;
background-color: rgba(0,0,0,0.4)
}